---
const {post} = Astro.props;

function formatDate(date: Date) {
  return new Date(date).toLocaleDateString('zh-CN', {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
  });
}
let ogImage = post.data.ogImage
const ogImageUrl = typeof ogImage === "string" ? ogImage : ogImage?.src;
const ogUrl = new URL(ogImageUrl ?? `/posts/${post.slug}.png`, Astro.url.origin)
  .href;
---
<div class="w-[30%] card">
    <article class="w-full">
        <a class="h-[240px] block">
            <img width="450" height="1024" class="h-full object-cover object-center transition duration-500 ease-in-out w-full " src={ogUrl} class="w-full h-full wp-post-image" alt="" decoding="async" fetchpriority="high"></a>
        <div class="card-content">
            {
                post.data.tags.map((tag:string) => (
                <div class="tag cursor-pointer">
                {tag}
            </div>
                ))
            }
           
            <div>
                <h2 class="my-4">
                    <a href={`/posts/${post.slug}`}>
                        {post.data.title}
                    </a>
                </h2>
                
            </div>
            <div class="line-clamp-2">
              {post.data.description} 
            </div>
            <div class="divider">
            </div>
            <div class="flex gap-2 items-center my-4 text-sm">
                <span class="icon-[mingcute--quill-pen-fill]"></span>
                <span class="mr-4">ibucoin</span>
                <span class="icon-[material-symbols--date-range]"></span>
                <span>{formatDate(post.data.pubDatetime)} </span>
            </div>
        </div>
    </article>
</div>